@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

/* Nav styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;
    font-family: 'Poppins', sans-serif;
}

.nav-item {
    display: flex;
    gap: 34px;
    color: #3A3A3A;
    align-items: center;
}

.nav-item li {
    list-style: none;
}

.nav-item li a {
    font-size: 16px;
    font-size: 600;
    color: #3A3A3A;
    text-decoration: none;
}

/* Banner styles */
.banner-container {
    display: grid;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    justify-items: flex-end;
    margin-bottom: 55px;
    align-items: center;


}

.banner-description {
    width: 582px;
    height: 270px;
    font-size: ;
}

.banner-description h1 {
    font-size: 52px;
    line-height: 72px;
    color: #3A3A3A;
}

.banner-description p {
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}

.banner-description button {
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 41px;
    height: 44px;
    width: 196px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    color: #FFFFFF;
}

.banner-image {
    width: 475px;
    height: 475px;
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-image img {
    width: 440px;
    height: 414px;
}

/* adsent styles */
.adsent-images {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.first-hr {
    margin-top: 69px;
}
.adsent-container{
    margin-top: ;
}

hr.style-two {
    width: 72%;
    border: 0;
    margin: 0 auto;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* Collection Styles */
.collection-container {
    height: auto;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1047px;
    height: 1500px;
    gap: 30px;
    margin: 0 auto;

}

.item-description,
.item-price,
span,
.item-title,
.collection-item img {
    padding-left: 15px;
    padding-top: px;
}

.collection-item {
    border-radius: 10px;
    width: 329px;
    height: 447px;
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    line-height: 27px;
}

.collection-item img {
    width: 300px;
    height: 256px;
    padding-top: 10px;

}

.collection-title {
    padding: 100px 0 40px;
    text-align: center;
}

.item-title {
    font-size: 18px;
    line-height: 40px;
    color: #18191F;
}

.item-price {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    line-height: 150%;
}

.item-description {}

span i {
    color: #FB8200;

}

span i:last-child {
    color: #AAAA;
}

.see-more {
    text-align: right;
    margin-top: 10px;
}

.see-more a {
    padding-right: 6rem;
    text-decoration: none;
    color: #E02C6D;
}

/* Fetured Style */

.featured-container {
    display: grid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1135px;
    margin: 85px auto;
}

/* .featured-image {
    width: 100px;
} */
.featured-info {
    width: 585px;
}

.featured-title {
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
}

.featured-info p {
    margin: 30px 0px;
}

.featured-info button {
    font-size: 15px;
    padding: 8px 30px;
    border: 0;
    background-color: #E02C6D;
    color: white;
}

/* Footer styles */
.footer-container {
    height: 145px;
    text-align: center;
    background-color: rgb(1, 1, 31);
    padding: 40px 0 30px 0;
    color: rgb(249, 232, 232);
    color: #D9DBE1;
    line-height: 32px;
}

.footer-container i {
    font-size: 32px;
    margin: 8px;
}



/* Responsive styles */

@media screen and (max-width:576px) {
    .nav-container {
        display: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: 55px;

    }

    .banner-description {
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
    }

    .banner-description h1 {
        font-size: 36px;
        line-height: 60px;

    }

    .banner-image {
        width: 80%;
        height: 75%;
    }

    .banner-image img {
        height: 100%;
        width: 100%;
    }

    .collection-grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        width: 100%;
        height: 100%;
    }

    .item-description,
    .item-price,
    .item-title,
    .collection-item img {
        padding-left: 15px;
        /* margin: 0 auto; */
    }

    .collection-item {
        padding-top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* padding: 10px; */
        /* align-items: center; */

    }

    hr {
        display: none;
    }

    .see-more {
        text-align: center;
    }

    .see-more a {
        text-align: center;
        padding: 0;
        margin-top: 20px;


    }

    .featured-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        width: 100%;
        justify-content: center;
        height: 100%;
        padding: 5px;
        margin: 40px 0 0 0;
    }

    .featured-info {
        width: 100%;
    }

    .collection-title {
        padding: 45px 0 10px;
    }

    .adsent-images {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-top: 40px;
        margin-top: 60px;
        margin-bottom: 25px;


    }

    .featured-container img {
        height: 205px;
        padding: 40px 0 10px;
    }

    .featured-info>p {
        padding: 10px 10px;
    }

    .nav-container {
        width: %;
    }

    .featured-info p {
        padding: 0 20px;
    }

    .footer-title {
        font-size: 16px;
        color: #D9DBE1;
    }

    .footer-container p {
        font-size: 12px;
        color: #D9DBE1;
    }

    .footer-container i {
        font-size: 15px;
        margin: 8px;
    }



}